USE [master]
GO
/****** Object:  Database [KazanNeft]    Script Date: 6/29/2021 10:59:55 PM ******/
CREATE DATABASE [KazanNeft]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KazanNeft].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KazanNeft]
GO
/****** Object:  Table [dbo].[AssetGroups]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetGroups](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AssetTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AssetOdometers]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetOdometers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AssetID] [bigint] NOT NULL,
	[ReadDate] [date] NOT NULL,
	[OdometerAmount] [bigint] NOT NULL,
 CONSTRAINT [PK_AssetOdometers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Assets]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AssetSN] [nvarchar](20) NOT NULL,
	[AssetName] [nvarchar](150) NOT NULL,
	[DepartmentLocationID] [bigint] NOT NULL,
	[EmployeeID] [bigint] NOT NULL,
	[AssetGroupID] [bigint] NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[WarrantyDate] [date] NULL,
 CONSTRAINT [PK_Assets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AssetTransferLogs]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetTransferLogs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AssetID] [bigint] NOT NULL,
	[TransferDate] [date] NOT NULL,
	[FromAssetSN] [nvarchar](20) NOT NULL,
	[ToAssetSN] [nvarchar](20) NOT NULL,
	[FromDepartmentLocationID] [bigint] NOT NULL,
	[ToDepartmentLocationID] [bigint] NOT NULL,
 CONSTRAINT [PK_AssetRelocationLogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChangedParts]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangedParts](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EmergencyMaintenanceID] [bigint] NOT NULL,
	[PartID] [bigint] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChangedParts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DepartmentLocations]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentLocations](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [bigint] NOT NULL,
	[LocationID] [bigint] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_DepartmentLocations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmergencyMaintenances]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyMaintenances](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AssetID] [bigint] NOT NULL,
	[PriorityID] [bigint] NOT NULL,
	[DescriptionEmergency] [nvarchar](200) NOT NULL,
	[OtherConsiderations] [nvarchar](200) NOT NULL,
	[EMRequestDate] [date] NOT NULL,
	[EMStartDate] [date] NULL,
	[EMEndDate] [date] NULL,
	[EMTechnicianNote] [nvarchar](200) NULL,
 CONSTRAINT [PK_EMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[isAdmin] [bit] NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Locations]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[PartID] [bigint] NOT NULL,
	[BatchNumber] [nvarchar](50) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Stock] [decimal](18, 2) NULL,
	[UnitPrice] [money] NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TransactionTypeID] [bigint] NOT NULL,
	[SupplierID] [bigint] NULL,
	[EmergencyMaintenancesID] [bigint] NULL,
	[SourceWarehouseID] [bigint] NULL,
	[DestinationWarehouseID] [bigint] NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NULL,
 CONSTRAINT [PK_SupplierHeaders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parts]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[EffectiveLife] [bigint] NULL,
	[BatchNumberHasRequired] [bit] NULL,
	[MinimumQuantity] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Parts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PMScheduleModels]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PMScheduleModels](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PMScheduleTypeID] [bigint] NULL,
 CONSTRAINT [PK_PMScheduleModels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PMScheduleTypes]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PMScheduleTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PMScheduleTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PMTasks]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PMTasks](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AssetID] [bigint] NOT NULL,
	[TaskID] [bigint] NOT NULL,
	[PMScheduleTypeID] [bigint] NOT NULL,
	[ScheduleDate] [date] NULL,
	[ScheduleKilometer] [bigint] NULL,
	[TaskDone] [bit] NULL,
 CONSTRAINT [PK_PMTask] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Priorities]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorities](
	[ID] [bigint] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Priorities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RockTypes]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RockTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BackgroundColor] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RockTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TransactionTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Stocks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WellLayers]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WellLayers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[WellID] [bigint] NOT NULL,
	[RockTypeID] [bigint] NOT NULL,
	[StartPoint] [bigint] NOT NULL,
	[EndPoint] [bigint] NOT NULL,
 CONSTRAINT [PK_WellLayers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wells]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wells](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[WellTypeID] [bigint] NOT NULL,
	[WellName] [nvarchar](50) NOT NULL,
	[GasOilDepth] [bigint] NOT NULL,
	[Capacity] [bigint] NOT NULL,
 CONSTRAINT [PK_Wells] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WellTypes]    Script Date: 6/29/2021 10:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WellTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_WellTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AssetGroups] ON 

INSERT [dbo].[AssetGroups] ([ID], [Name]) VALUES (1, N'Hydraulic')
INSERT [dbo].[AssetGroups] ([ID], [Name]) VALUES (3, N'Electrical')
INSERT [dbo].[AssetGroups] ([ID], [Name]) VALUES (4, N'Mechanical ')
SET IDENTITY_INSERT [dbo].[AssetGroups] OFF
SET IDENTITY_INSERT [dbo].[AssetOdometers] ON 

INSERT [dbo].[AssetOdometers] ([ID], [AssetID], [ReadDate], [OdometerAmount]) VALUES (3, 1, CAST(N'2019-07-10' AS Date), 140000)
INSERT [dbo].[AssetOdometers] ([ID], [AssetID], [ReadDate], [OdometerAmount]) VALUES (4, 1, CAST(N'2019-07-30' AS Date), 157000)
INSERT [dbo].[AssetOdometers] ([ID], [AssetID], [ReadDate], [OdometerAmount]) VALUES (5, 1, CAST(N'2019-08-19' AS Date), 157133)
SET IDENTITY_INSERT [dbo].[AssetOdometers] OFF
SET IDENTITY_INSERT [dbo].[Assets] ON 

INSERT [dbo].[Assets] ([ID], [AssetSN], [AssetName], [DepartmentLocationID], [EmployeeID], [AssetGroupID], [Description], [WarrantyDate]) VALUES (1, N'05/04/0001', N'Toyota Hilux FAF321', 3, 5, 4, N'', NULL)
INSERT [dbo].[Assets] ([ID], [AssetSN], [AssetName], [DepartmentLocationID], [EmployeeID], [AssetGroupID], [Description], [WarrantyDate]) VALUES (2, N'04/03/0001', N'Suction Line 852', 7, 8, 3, N'', CAST(N'2020-03-02' AS Date))
INSERT [dbo].[Assets] ([ID], [AssetSN], [AssetName], [DepartmentLocationID], [EmployeeID], [AssetGroupID], [Description], [WarrantyDate]) VALUES (3, N'04/01/0001', N'ZENY 3,5CFM Single-Stage 5 Pa Rotary Vane', 6, 22, 1, N'', CAST(N'2018-01-17' AS Date))
SET IDENTITY_INSERT [dbo].[Assets] OFF
SET IDENTITY_INSERT [dbo].[AssetTransferLogs] ON 

INSERT [dbo].[AssetTransferLogs] ([ID], [AssetID], [TransferDate], [FromAssetSN], [ToAssetSN], [FromDepartmentLocationID], [ToDepartmentLocationID]) VALUES (1, 1, CAST(N'2012-01-09' AS Date), N'04/04/0002', N'05/04/0001', 7, 4)
INSERT [dbo].[AssetTransferLogs] ([ID], [AssetID], [TransferDate], [FromAssetSN], [ToAssetSN], [FromDepartmentLocationID], [ToDepartmentLocationID]) VALUES (2, 3, CAST(N'2014-02-02' AS Date), N'03/01/0001', N'01/01/0001', 8, 11)
INSERT [dbo].[AssetTransferLogs] ([ID], [AssetID], [TransferDate], [FromAssetSN], [ToAssetSN], [FromDepartmentLocationID], [ToDepartmentLocationID]) VALUES (19, 13, CAST(N'2020-12-11' AS Date), N'01/01/0002', N'04/01/0001', 11, 6)
SET IDENTITY_INSERT [dbo].[AssetTransferLogs] OFF
SET IDENTITY_INSERT [dbo].[ChangedParts] ON 

INSERT [dbo].[ChangedParts] ([ID], [EmergencyMaintenanceID], [PartID], [Amount]) VALUES (1, 3, 5, CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[ChangedParts] ([ID], [EmergencyMaintenanceID], [PartID], [Amount]) VALUES (2, 1, 1, CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[ChangedParts] ([ID], [EmergencyMaintenanceID], [PartID], [Amount]) VALUES (3, 60, 1, CAST(10.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChangedParts] OFF
SET IDENTITY_INSERT [dbo].[DepartmentLocations] ON 

INSERT [dbo].[DepartmentLocations] ([ID], [DepartmentID], [LocationID], [StartDate], [EndDate]) VALUES (1, 6, 3, CAST(N'2010-12-28' AS Date), CAST(N'2011-01-20' AS Date))
INSERT [dbo].[DepartmentLocations] ([ID], [DepartmentID], [LocationID], [StartDate], [EndDate]) VALUES (2, 6, 2, CAST(N'2015-12-27' AS Date), CAST(N'2019-08-20' AS Date))
INSERT [dbo].[DepartmentLocations] ([ID], [DepartmentID], [LocationID], [StartDate], [EndDate]) VALUES (3, 5, 2, CAST(N'1996-04-29' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[DepartmentLocations] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([ID], [Name]) VALUES (1, N'Exploration')
INSERT [dbo].[Departments] ([ID], [Name]) VALUES (2, N'Production')
INSERT [dbo].[Departments] ([ID], [Name]) VALUES (3, N'Transportation')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[EmergencyMaintenances] ON 

INSERT [dbo].[EmergencyMaintenances] ([ID], [AssetID], [PriorityID], [DescriptionEmergency], [OtherConsiderations], [EMRequestDate], [EMStartDate], [EMEndDate], [EMTechnicianNote]) VALUES (1, 1, 2, N'Car does not start', N'none', CAST(N'2019-08-25' AS Date), CAST(N'2019-08-25' AS Date), CAST(N'2020-12-11' AS Date), N'')
INSERT [dbo].[EmergencyMaintenances] ([ID], [AssetID], [PriorityID], [DescriptionEmergency], [OtherConsiderations], [EMRequestDate], [EMStartDate], [EMEndDate], [EMTechnicianNote]) VALUES (2, 4, 1, N'Perforated tire', N'none', CAST(N'2019-08-25' AS Date), CAST(N'2019-08-25' AS Date), NULL, NULL)
INSERT [dbo].[EmergencyMaintenances] ([ID], [AssetID], [PriorityID], [DescriptionEmergency], [OtherConsiderations], [EMRequestDate], [EMStartDate], [EMEndDate], [EMTechnicianNote]) VALUES (3, 4, 1, N'Preforated tire', N'none', CAST(N'2017-09-29' AS Date), CAST(N'2017-09-29' AS Date), CAST(N'2017-09-29' AS Date), N'The tire changed')
SET IDENTITY_INSERT [dbo].[EmergencyMaintenances] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [Phone], [isAdmin], [Username], [Password]) VALUES (1, N'Martina', N'Winegarden', N'69232044381', NULL, NULL, NULL)
INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [Phone], [isAdmin], [Username], [Password]) VALUES (2, N'Rashida', N'Brammer', N'70687629632', NULL, NULL, NULL)
INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [Phone], [isAdmin], [Username], [Password]) VALUES (3, N'Mohamed', N'Krall', N'52688435003', NULL, N'mohamed', N'1234')
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([ID], [Name]) VALUES (1, N'Kazan')
INSERT [dbo].[Locations] ([ID], [Name]) VALUES (2, N'Volka')
INSERT [dbo].[Locations] ([ID], [Name]) VALUES (3, N'Moscow')
SET IDENTITY_INSERT [dbo].[Locations] OFF
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([ID], [OrderID], [PartID], [BatchNumber], [Amount], [Stock], [UnitPrice]) VALUES (1, 1, 8, N'', CAST(2.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 330.0000)
INSERT [dbo].[OrderItems] ([ID], [OrderID], [PartID], [BatchNumber], [Amount], [Stock], [UnitPrice]) VALUES (2, 1, 6, N'SL1258', CAST(2.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 250.0000)
INSERT [dbo].[OrderItems] ([ID], [OrderID], [PartID], [BatchNumber], [Amount], [Stock], [UnitPrice]) VALUES (3, 1, 1, N'', CAST(4.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 481.0000)
GO
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [TransactionTypeID], [SupplierID], [EmergencyMaintenancesID], [SourceWarehouseID], [DestinationWarehouseID], [Date], [Time]) VALUES (1, 1, 3, NULL, NULL, 2, CAST(N'2019-08-18' AS Date), CAST(N'08:21:28' AS Time))
INSERT [dbo].[Orders] ([ID], [TransactionTypeID], [SupplierID], [EmergencyMaintenancesID], [SourceWarehouseID], [DestinationWarehouseID], [Date], [Time]) VALUES (2, 1, 4, NULL, NULL, 1, CAST(N'2019-08-18' AS Date), CAST(N'08:10:41' AS Time))
INSERT [dbo].[Orders] ([ID], [TransactionTypeID], [SupplierID], [EmergencyMaintenancesID], [SourceWarehouseID], [DestinationWarehouseID], [Date], [Time]) VALUES (3, 1, 4, NULL, NULL, 1, CAST(N'2019-08-18' AS Date), CAST(N'08:03:49' AS Time))
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Parts] ON 

INSERT [dbo].[Parts] ([ID], [Name], [EffectiveLife], [BatchNumberHasRequired], [MinimumQuantity]) VALUES (1, N'BLUE STORM Battery 12V 45Ah 54459', 650, 0, CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[Parts] ([ID], [Name], [EffectiveLife], [BatchNumberHasRequired], [MinimumQuantity]) VALUES (2, N'BLUE STORM Battery 12V 70Ah 80D26L', 700, 0, CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[Parts] ([ID], [Name], [EffectiveLife], [BatchNumberHasRequired], [MinimumQuantity]) VALUES (3, N'CT20 Turbo Turbocharger', NULL, 0, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Parts] OFF
SET IDENTITY_INSERT [dbo].[PMScheduleModels] ON 

INSERT [dbo].[PMScheduleModels] ([ID], [Name], [PMScheduleTypeID]) VALUES (1, N'Daily', 2)
INSERT [dbo].[PMScheduleModels] ([ID], [Name], [PMScheduleTypeID]) VALUES (2, N'Weekly', 2)
INSERT [dbo].[PMScheduleModels] ([ID], [Name], [PMScheduleTypeID]) VALUES (3, N'Monthly', 2)
SET IDENTITY_INSERT [dbo].[PMScheduleModels] OFF
SET IDENTITY_INSERT [dbo].[PMScheduleTypes] ON 

INSERT [dbo].[PMScheduleTypes] ([ID], [Name]) VALUES (1, N'By Milage')
INSERT [dbo].[PMScheduleTypes] ([ID], [Name]) VALUES (2, N'By Date')
SET IDENTITY_INSERT [dbo].[PMScheduleTypes] OFF
SET IDENTITY_INSERT [dbo].[PMTasks] ON 

INSERT [dbo].[PMTasks] ([ID], [AssetID], [TaskID], [PMScheduleTypeID], [ScheduleDate], [ScheduleKilometer], [TaskDone]) VALUES (10, 1, 1, 1, NULL, 140000, 1)
INSERT [dbo].[PMTasks] ([ID], [AssetID], [TaskID], [PMScheduleTypeID], [ScheduleDate], [ScheduleKilometer], [TaskDone]) VALUES (11, 1, 1, 1, NULL, 155000, 0)
INSERT [dbo].[PMTasks] ([ID], [AssetID], [TaskID], [PMScheduleTypeID], [ScheduleDate], [ScheduleKilometer], [TaskDone]) VALUES (87, 3, 6, 2, CAST(N'2019-05-01' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[PMTasks] OFF
INSERT [dbo].[Priorities] ([ID], [Name]) VALUES (1, N'General')
INSERT [dbo].[Priorities] ([ID], [Name]) VALUES (2, N'High')
INSERT [dbo].[Priorities] ([ID], [Name]) VALUES (3, N'Very High')
SET IDENTITY_INSERT [dbo].[RockTypes] ON 

INSERT [dbo].[RockTypes] ([ID], [Name], [BackgroundColor]) VALUES (1, N'Argillite', N'#E52B50')
INSERT [dbo].[RockTypes] ([ID], [Name], [BackgroundColor]) VALUES (2, N'Breccia', N'#FFBF00')
INSERT [dbo].[RockTypes] ([ID], [Name], [BackgroundColor]) VALUES (3, N'Chalk', N'#9966CC')
SET IDENTITY_INSERT [dbo].[RockTypes] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([ID], [Name]) VALUES (1, N'MJOK petroleum')
INSERT [dbo].[Suppliers] ([ID], [Name]) VALUES (2, N'Kazan Bosch  Center')
INSERT [dbo].[Suppliers] ([ID], [Name]) VALUES (3, N'Denso Corp')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([ID], [Name]) VALUES (1, N'Get Tires Rotated and Balanced.')
INSERT [dbo].[Tasks] ([ID], [Name]) VALUES (2, N'Check Engine Oil')
INSERT [dbo].[Tasks] ([ID], [Name]) VALUES (3, N'Check  Air Filter')
SET IDENTITY_INSERT [dbo].[Tasks] OFF
SET IDENTITY_INSERT [dbo].[TransactionTypes] ON 

INSERT [dbo].[TransactionTypes] ([ID], [Name]) VALUES (1, N'Purchase Order')
INSERT [dbo].[TransactionTypes] ([ID], [Name]) VALUES (2, N'Warehouse Management')
INSERT [dbo].[TransactionTypes] ([ID], [Name]) VALUES (3, N'Used on Emergency Maintenance')
SET IDENTITY_INSERT [dbo].[TransactionTypes] OFF
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([ID], [Name]) VALUES (1, N'Central Warehouse')
INSERT [dbo].[Warehouses] ([ID], [Name]) VALUES (2, N'Volka  Warehouse')
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
SET IDENTITY_INSERT [dbo].[WellLayers] ON 

INSERT [dbo].[WellLayers] ([ID], [WellID], [RockTypeID], [StartPoint], [EndPoint]) VALUES (1, 1, 10, 0, 800)
INSERT [dbo].[WellLayers] ([ID], [WellID], [RockTypeID], [StartPoint], [EndPoint]) VALUES (2, 1, 3, 800, 1430)
INSERT [dbo].[WellLayers] ([ID], [WellID], [RockTypeID], [StartPoint], [EndPoint]) VALUES (3, 1, 2, 1430, 1982)
SET IDENTITY_INSERT [dbo].[WellLayers] OFF
SET IDENTITY_INSERT [dbo].[Wells] ON 

INSERT [dbo].[Wells] ([ID], [WellTypeID], [WellName], [GasOilDepth], [Capacity]) VALUES (1, 1, N'Yolka #12 ', 4500, 980000000)
INSERT [dbo].[Wells] ([ID], [WellTypeID], [WellName], [GasOilDepth], [Capacity]) VALUES (2, 1, N'Kazan  #12', 4230, 1080000000)
INSERT [dbo].[Wells] ([ID], [WellTypeID], [WellName], [GasOilDepth], [Capacity]) VALUES (3, 1, N'Kazan  #13', 4830, 780000000)
SET IDENTITY_INSERT [dbo].[Wells] OFF
SET IDENTITY_INSERT [dbo].[WellTypes] ON 

INSERT [dbo].[WellTypes] ([ID], [Name]) VALUES (1, N'Well')
INSERT [dbo].[WellTypes] ([ID], [Name]) VALUES (2, N'Section')
SET IDENTITY_INSERT [dbo].[WellTypes] OFF
ALTER TABLE [dbo].[AssetOdometers]  WITH CHECK ADD  CONSTRAINT [FK_AssetOdometers_Assets] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([ID])
GO
ALTER TABLE [dbo].[AssetOdometers] CHECK CONSTRAINT [FK_AssetOdometers_Assets]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_AssetGroups] FOREIGN KEY([AssetGroupID])
REFERENCES [dbo].[AssetGroups] ([ID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_AssetGroups]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_DepartmentLocations] FOREIGN KEY([DepartmentLocationID])
REFERENCES [dbo].[DepartmentLocations] ([ID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_DepartmentLocations]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([ID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Employees]
GO
ALTER TABLE [dbo].[AssetTransferLogs]  WITH CHECK ADD  CONSTRAINT [FK_AssetTransferLogs_DepartmentLocations] FOREIGN KEY([FromDepartmentLocationID])
REFERENCES [dbo].[DepartmentLocations] ([ID])
GO
ALTER TABLE [dbo].[AssetTransferLogs] CHECK CONSTRAINT [FK_AssetTransferLogs_DepartmentLocations]
GO
ALTER TABLE [dbo].[AssetTransferLogs]  WITH CHECK ADD  CONSTRAINT [FK_AssetTransferLogs_DepartmentLocations1] FOREIGN KEY([ToDepartmentLocationID])
REFERENCES [dbo].[DepartmentLocations] ([ID])
GO
ALTER TABLE [dbo].[AssetTransferLogs] CHECK CONSTRAINT [FK_AssetTransferLogs_DepartmentLocations1]
GO
ALTER TABLE [dbo].[AssetTransferLogs]  WITH CHECK ADD  CONSTRAINT [FK_AssetTransfers_Assets] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([ID])
GO
ALTER TABLE [dbo].[AssetTransferLogs] CHECK CONSTRAINT [FK_AssetTransfers_Assets]
GO
ALTER TABLE [dbo].[ChangedParts]  WITH CHECK ADD  CONSTRAINT [FK_ChangedParts_EmergencyMaintenances] FOREIGN KEY([EmergencyMaintenanceID])
REFERENCES [dbo].[EmergencyMaintenances] ([ID])
GO
ALTER TABLE [dbo].[ChangedParts] CHECK CONSTRAINT [FK_ChangedParts_EmergencyMaintenances]
GO
ALTER TABLE [dbo].[ChangedParts]  WITH CHECK ADD  CONSTRAINT [FK_ChangedParts_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([ID])
GO
ALTER TABLE [dbo].[ChangedParts] CHECK CONSTRAINT [FK_ChangedParts_Parts]
GO
ALTER TABLE [dbo].[DepartmentLocations]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentLocations_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[DepartmentLocations] CHECK CONSTRAINT [FK_DepartmentLocations_Departments]
GO
ALTER TABLE [dbo].[DepartmentLocations]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentLocations_Locations] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([ID])
GO
ALTER TABLE [dbo].[DepartmentLocations] CHECK CONSTRAINT [FK_DepartmentLocations_Locations]
GO
ALTER TABLE [dbo].[EmergencyMaintenances]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyMaintenances_Assets] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([ID])
GO
ALTER TABLE [dbo].[EmergencyMaintenances] CHECK CONSTRAINT [FK_EmergencyMaintenances_Assets]
GO
ALTER TABLE [dbo].[EmergencyMaintenances]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyMaintenances_Priorities] FOREIGN KEY([PriorityID])
REFERENCES [dbo].[Priorities] ([ID])
GO
ALTER TABLE [dbo].[EmergencyMaintenances] CHECK CONSTRAINT [FK_EmergencyMaintenances_Priorities]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([ID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_Transactions_Parts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Headers_EmergencyMaintenances] FOREIGN KEY([EmergencyMaintenancesID])
REFERENCES [dbo].[EmergencyMaintenances] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Headers_EmergencyMaintenances]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Headers_Stocks] FOREIGN KEY([SourceWarehouseID])
REFERENCES [dbo].[Warehouses] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Headers_Stocks]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Headers_Stocks1] FOREIGN KEY([DestinationWarehouseID])
REFERENCES [dbo].[Warehouses] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Headers_Stocks1]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Headers_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Headers_Suppliers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Headers_TransactionTypes] FOREIGN KEY([TransactionTypeID])
REFERENCES [dbo].[TransactionTypes] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Headers_TransactionTypes]
GO
ALTER TABLE [dbo].[PMScheduleModels]  WITH CHECK ADD  CONSTRAINT [FK_PMScheduleModels_PMScheduleTypes] FOREIGN KEY([PMScheduleTypeID])
REFERENCES [dbo].[PMScheduleTypes] ([ID])
GO
ALTER TABLE [dbo].[PMScheduleModels] CHECK CONSTRAINT [FK_PMScheduleModels_PMScheduleTypes]
GO
ALTER TABLE [dbo].[PMTasks]  WITH CHECK ADD  CONSTRAINT [FK_PMTasks_Assets] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([ID])
GO
ALTER TABLE [dbo].[PMTasks] CHECK CONSTRAINT [FK_PMTasks_Assets]
GO
ALTER TABLE [dbo].[PMTasks]  WITH CHECK ADD  CONSTRAINT [FK_PMTasks_PMScheduleTypes] FOREIGN KEY([PMScheduleTypeID])
REFERENCES [dbo].[PMScheduleTypes] ([ID])
GO
ALTER TABLE [dbo].[PMTasks] CHECK CONSTRAINT [FK_PMTasks_PMScheduleTypes]
GO
ALTER TABLE [dbo].[PMTasks]  WITH CHECK ADD  CONSTRAINT [FK_PMTasks_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([ID])
GO
ALTER TABLE [dbo].[PMTasks] CHECK CONSTRAINT [FK_PMTasks_Tasks]
GO
ALTER TABLE [dbo].[WellLayers]  WITH CHECK ADD  CONSTRAINT [FK_WellLayers_RockTypes] FOREIGN KEY([RockTypeID])
REFERENCES [dbo].[RockTypes] ([ID])
GO
ALTER TABLE [dbo].[WellLayers] CHECK CONSTRAINT [FK_WellLayers_RockTypes]
GO
ALTER TABLE [dbo].[WellLayers]  WITH CHECK ADD  CONSTRAINT [FK_WellLayers_Wells] FOREIGN KEY([WellID])
REFERENCES [dbo].[Wells] ([ID])
GO
ALTER TABLE [dbo].[WellLayers] CHECK CONSTRAINT [FK_WellLayers_Wells]
GO
ALTER TABLE [dbo].[Wells]  WITH CHECK ADD  CONSTRAINT [FK_Wells_WellTypes] FOREIGN KEY([WellTypeID])
REFERENCES [dbo].[WellTypes] ([ID])
GO
ALTER TABLE [dbo].[Wells] CHECK CONSTRAINT [FK_Wells_WellTypes]
GO
USE [master]
GO
